/*Variables*/

$colores:(

    fondonav: #eea849,
    color: red,
    color2:#fff,
    color3:lawngreen,
    coloranimacion:darkgreen,
    colornav2:#2c3e50,
    footer: orange,
    fondobody1:#f46b45,
    fondobody2:#eea849,
    fondo:white,
    fondotabla:whitesmoke,
    colorpage:crimson,
    colorrow:cornflowerblue,

);
